<!doctype html>
<html>

<head>
    <title>Todo App</title>
</head>

<body>
    <h2>My Todo List</h2>
    <form action="/add" method="post">
        <input name="task" placeholder="New task" required>
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for todo in todos %}
        <li>
            {{ todo.task }}
            <a href="/update/{{ todo.id }}">Edit</a>
            <a href="/delete/{{ todo.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>